
@{
    ViewBag.Title = "ThongBaoDatHang";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div style="text-align:center;">
    <h2 >Đặt hàng thành công tiếp tục mua sắm!!!</h2>
    @Html.ActionLink("Tiếp tục", "TrangNguoiDung", "Home")
</div>



