
@{
    ViewBag.Title = "ThongBao";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="text-center my-4">
    <h2 class="text-center my-4">SẢN PHẨM HẾT HÀNG!!!</h2>
    @Html.ActionLink("Tiếp tục", "TrangNguoiDung", "Home")
</div>

