
@{
    ViewBag.Title = "ThongBaoDatHang";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="text-center my-4">
    <h2 >ĐẶT HÀNG THÀNH CÔNG, TIẾP TỤC MUA SẮM!!!</h2>
    @Html.ActionLink("Tiếp tục", "TrangNguoiDung", "Home")
</div>



